<div class="content-container" fxLayout="column" fxLayoutGap="24px">
  <div fxFill fxLayout="row" fxFlex>
    <div fxLayout="row" fxLayoutAlign="center none" fxFlex="100">
      <!-- novalidate -->
      <form
        [formGroup]="companyForm"
        (ngSubmit)="onSubmit()"
        fxFlex="90"
        fxLayout="column"
      >
        <input type="hidden" formControlName="companyId" />

        <div fxFlex>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="50">
              <div fxLayout="column" fxFlex>
                <div fxFlex class="mat-h3">Company Details</div>
                <div fxFlex layout="row">
                  <mat-form-field fxFlex>
                    <mat-label>Company Name</mat-label>

                    <input
                      [errorStateMatcher]="errorMatcher"
                      #companyName
                      required
                      matInput
                      placeholder="CompanyName"
                      formControlName="companyName"
                    />
                    <mat-hint>{{ companyName.value.length }} / 50</mat-hint>
                    <mat-error
                      *ngIf="
                        companyForm.controls['companyName'].hasError('required')
                      "
                    >
                      Company Name is <strong>required!</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['companyName'].hasError('pattern')
                      "
                    >
                      Company Name must contain only
                      <strong>Alphabets and Spaces</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['companyName'].hasError(
                          'minlength'
                        )
                      "
                    >
                      Company Name must be more than
                      <strong>2 Characters</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['companyName'].hasError(
                          'maxlength'
                        )
                      "
                    >
                      Company Name must be less than
                      <strong>50 Characters</strong>
                    </mat-error>

                    <mat-error *ngIf="companyForm.errors?.alreadyExists">
                      This Company Name is
                      <strong>Already Used</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex layout="row">
                  <mat-form-field  fxFlex>
                    <mat-label>Company Address*</mat-label>

                    <input
                      #companyAddress
                      matInput
                      placeholder="Company Address*"
                      formControlName="companyAddress"
                    />
                    <mat-hint>{{ companyAddress.value.length }} / 300</mat-hint>
                    <mat-error
                      *ngIf="
                        companyForm.controls['companyAddress'].hasError(
                          'minlength'
                        )
                      "
                    >
                      Company Address must be more than
                      <strong>10 Characters</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['companyAddress'].hasError(
                          'maxlength'
                        )
                      "
                    >
                      Company Address must be less than
                      <strong>300 Characters</strong>
                    </mat-error>

                    <mat-error
                      *ngIf="
                        companyForm.controls['companyAddress'].hasError(
                          'required'
                        )
                      "
                    >
                      Company Address <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                  <mat-form-field  fxFlex>
                    <mat-label>Country</mat-label>
                    <mat-select
                      required
                      placeholder="Country"
                      formControlName="countryId"
                      (selectionChange)="getStatesByCountry($event.value)"
                      (valueChange)="updateFlag($event.value)"
                    >
                      <mat-option
                        *ngFor="let country of countries"
                        [value]="country.countryId"
                      >
                        {{ country.countryName }}
                      </mat-option>
                    </mat-select>

                    <mat-error
                      *ngIf="
                        companyForm.controls['countryId'].hasError('required')
                      "
                    >
                      <strong>Please select Country!</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field  fxFlex>
                    <mat-label>State</mat-label>

                    <mat-select
                      required
                      placeholder="State*"
                      formControlName="stateId"
                      (selectionChange)="getCitiesByState($event.value)"
                    >
                      <mat-option
                        *ngFor="let state of states"
                        [value]="state.stateId"
                      >
                        {{ state.stateName }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        companyForm.controls['stateId'].hasError('required')
                      "
                    >
                      <strong>Please select State!</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                  <mat-form-field  fxFlex>
                    <mat-label>City</mat-label>

                    <mat-select
                      required
                      placeholder="City"
                      formControlName="cityId"
                    >
                      <mat-option
                        *ngFor="let city of cities"
                        [value]="city.cityId"
                      >
                        {{ city.cityName }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        companyForm.controls['cityId'].hasError('required')
                      "
                    >
                      <strong>Please select City!</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field  fxFlex>
                    <mat-label>Pincode</mat-label>
                    <input
                      required
                      #pincode
                      matInput
                      placeholder="Pincode"
                      formControlName="pincode"
                    />
                    <mat-hint>{{ pincode.value.length }} / 6</mat-hint>
                    <mat-error
                      *ngIf="
                        companyForm.controls['pincode'].hasError('required')
                      "
                    >
                      Pincode is <strong>required!</strong>
                    </mat-error>

                    <mat-error
                      *ngIf="
                        companyForm.controls['pincode'].hasError('maxlength') ||
                        companyForm.controls['pincode'].hasError('minlength')
                      "
                    >
                      Pincode must be Equal to
                      <strong>6 Characters</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex class="mat-h3">Financial Details</div>
                <div fxFlex layout="row">
                  <div fxFlex>
                    GST Compliant
                    <mat-slide-toggle
                      (change)="onChangeGSTComplaint($event)"
                      formControlName="gstCompliant"
                    ></mat-slide-toggle>
                  </div>
                </div>

                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                  <mat-form-field  fxFlex>
                    <mat-label>PAN/TAX #*</mat-label>

                    <input
                      matInput
                      placeholder="PAN/TAX #"
                      formControlName="panOrTaxNo"
                    />
                    <mat-error
                      *ngIf="
                        companyForm.controls['panOrTaxNo'].hasError('required')
                      "
                    >
                      PAN or TAX No is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field  fxFlex>
                    <mat-label>GST / VAT No #*</mat-label>

                    <input
                      matInput
                      placeholder="GST / VAT No"
                      formControlName="gstOrVatNumber"
                    />
                    <mat-error
                      *ngIf="
                        companyForm.controls['gstOrVatNumber'].hasError(
                          'required'
                        )
                      "
                    >
                      GST / VAT No is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxFlex="50">
              <div fxLayout="column" fxFlex fxLayoutAlign="start">
                <div fxFlex class="mat-h3">Contact Details</div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                  <mat-form-field  fxFlex="50">
                    <mat-label style="margin-left: 4em">Phone Number</mat-label>
                    <input
                      required
                      matInput
                      #phoneNumber
                      [ng2TelInputOptions]="{ initialCountry: initialCountry }"
                      ng2TelInput
                      placeholder="Phone Number"
                      formControlName="phoneNumber"
                    />
                    <mat-hint>{{ phoneNumber.value.length }} / 10</mat-hint>
                    <mat-error
                      *ngIf="
                        companyForm.controls['phoneNumber'].hasError('required')
                      "
                    >
                      Phone Number is <strong>required!</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['phoneNumber'].hasError('pattern')
                      "
                    >
                      Phone Number must be only <strong>Number!</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['phoneNumber'].hasError(
                          'minlength'
                        )
                      "
                    >
                      Phone Number must be Greater than
                      <strong>9 Characters</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['phoneNumber'].hasError(
                          'maxlength'
                        )
                      "
                    >
                      Phone Number must be Less than
                      <strong>15 Characters</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field  fxFlex="50">
                    <mat-label>Email Id</mat-label>

                    <input
                      required
                      matInput
                      placeholder="Email Id"
                      formControlName="email"
                    />
                    <mat-error
                      *ngIf="companyForm.controls['email'].hasError('required')"
                    >
                      Email is <strong>required</strong>
                    </mat-error>

                    <mat-error
                      *ngIf="
                        companyForm.controls['email'].hasError('email') ||
                        companyForm.controls['email'].hasError('pattern')
                      "
                    >
                      Email should be in <strong>valid</strong> format!
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                  <mat-form-field  fxFlex>
                    <mat-label>Primary Contact Name </mat-label>

                    <input
                      required
                      matInput
                      placeholder="Primary Contact Name"
                      formControlName="primaryContactName"
                    />
                    <mat-error
                      *ngIf="
                        companyForm.controls['primaryContactName'].hasError(
                          'required'
                        )
                      "
                    >
                      Primary Contact Name is <strong>required</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['primaryContactName'].hasError(
                          'pattern'
                        )
                      "
                    >
                      Primary Contact Name must contain only
                      <strong>Alphabets and Spaces</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field  fxFlex>
                    <mat-label>Primary Contact Email Id</mat-label>

                    <input
                      required
                      matInput
                      placeholder="Primary Contact Email Id"
                      formControlName="primaryContactEmail"
                    />
                    <mat-error
                      *ngIf="
                        companyForm.controls['primaryContactEmail'].hasError(
                          'required'
                        )
                      "
                    >
                      Primary Contact Email is <strong>required</strong>
                    </mat-error>

                    <mat-error
                      *ngIf="
                        companyForm.controls['primaryContactEmail'].hasError(
                          'email'
                        ) ||
                        companyForm.controls['primaryContactEmail'].hasError(
                          'pattern'
                        )
                      "
                    >
                      Email should be in <strong>valid</strong> format!
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex layout="row">
                  <mat-form-field  fxFlex>
                    <mat-label>Primary Contact Mobile #</mat-label>

                    <input
                      matInput
                      placeholder="Primary Contact Mobile No"
                      formControlName="primaryContactMobileNumber"
                      #primaryContactMobileNumber
                    />
                    <mat-hint
                      >{{ primaryContactMobileNumber.value.length }} /
                      10</mat-hint
                    >
                    <mat-error
                      *ngIf="
                        companyForm.controls[
                          'primaryContactMobileNumber'
                        ].hasError('pattern')
                      "
                    >
                      Phone Number must be only <strong>Number!</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls[
                          'primaryContactMobileNumber'
                        ].hasError('minlength')
                      "
                    >
                      Phone Number must be Greater than
                      <strong>9 Characters</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls[
                          'primaryContactMobileNumber'
                        ].hasError('maxlength')
                      "
                    >
                      Phone Number must be Less than
                      <strong>15 Characters</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex layout="row">
                  <mat-form-field  fxFlex>
                    <mat-label>Description</mat-label>

                    <textarea
                      matInput
                      placeholder="Description/Remarks"
                      formControlName="description"
                      required
                      #description
                    ></textarea>
                    <mat-hint>{{ description.value.length }} / 1500</mat-hint>
                    <mat-error
                      *ngIf="
                        companyForm.controls['description'].hasError('required')
                      "
                    >
                      Description is
                      <strong>required</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['description'].hasError(
                          'minlength'
                        )
                      "
                    >
                      Description must be more than
                      <strong>10 Characters</strong>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        companyForm.controls['description'].hasError(
                          'maxlength'
                        )
                      "
                    >
                      Description must be less than
                      <strong>1500 Characters</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div
                  class="image-box"
                  ngx-dropzone
                  [maxFileSize]="1000000"
                  [multiple]="false"
                  [accept]="'image/jpeg,image/jpg,image/png,image/svg+xml'"
                  (change)="onSelect($event)"
                >
                  <ngx-dropzone-label>
                    <div>
                      <h2
                        *ngIf="companyForm.controls['companyId'].value === -1"
                      >
                        Upload Company Logo
                      </h2>
                      <h2
                        *ngIf="companyForm.controls['companyId'].value !== -1"
                      >
                        Update Company Logo
                      </h2>
                    </div>
                  </ngx-dropzone-label>
                  <ngx-dropzone-image-preview
                    ngProjectAs="ngx-dropzone-preview"
                    *ngFor="let f of files"
                    [file]="f"
                    [removable]="true"
                    (removed)="onRemove(f)"
                  >
                    <ngx-dropzone-label
                      >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
                    >
                  </ngx-dropzone-image-preview>
                </div>

                <div class="mat-h4" [style.margin]="'12px .5rem 0'">
                  NOTE : The Logo Must be in PNG , SVG , JPG or JPEG under
                  <strong>1 MB</strong>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          fxFlex
          fxLayoutAlign="center center"
          class="button-row"
          fxLayoutGap="20px"
        >
          <button mat-raised-button color="accent">Submit</button>

          <button
            type="button"
            mat-raised-button
            color="warn"
            (click)="resetForm()"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="center none">
    <div fxFill fxLayout="column" fxFlex="90">
      <div fxFlex>
        <app-company-table (edit)="onEdit($event)"></app-company-table>
      </div>
    </div>
  </div>
</div>
