<div class="content-container" fxLayout="column" fxLayoutGap="24px">
  <div fxFill fxLayout="row" fxFlex>
    <div fxLayout="row" fxLayoutAlign="center none" fxFlex="100">
      <form
        [formGroup]="equipmentCategoryForm"
        novalidate
        (ngSubmit)="onSubmit()"
        fxFlex="90"
        fxLayout="column"
      >
        <input type="hidden" formControlName="equipmentCategoryId" />
 

        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="50">
              <div fxLayout="column" fxFlex>
                <div fxFlex class="mat-h3">Equipment Category Details</div>
                <div fxFlex layout="row">
                  <mat-form-field fxFlex="50">
                    <mat-label>Site Type*</mat-label>

                    <mat-select
                      placeholder="Site Name"
                      formControlName="siteTypeId"
                    >
                      <mat-option
                        *ngFor="let siteType of siteTypes"
                        [value]="siteType.siteTypeId"
                      >
                        {{ siteType.siteType }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        equipmentCategoryForm.controls['siteTypeId'].hasError(
                          'required'
                        )
                      "
                    >
                      <strong>Please select Site!</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <mat-label>Equipment Category</mat-label>

                    <input
                      matInput
                      placeholder="Equipment Category"
                      formControlName="equipmentCategory"
                    />
                  </mat-form-field>
                </div>

                <div fxFlex layout="row">
                  <mat-form-field fxFlex="50">
                    <mat-select
                      placeholder="Category Group*"
                      formControlName="categoryGroup"
                    >
                      <mat-option
                        *ngFor="let ecg of equipmentCategoryGroups"
                        [value]="ecg.equipmentCategoryGroup"
                      >
                        {{ ecg.equipmentCategoryGroup }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <mat-label>Short Name</mat-label>

                    <input
                      matInput
                      placeholder="Short Name"
                      formControlName="shortname"
                    />
                  </mat-form-field>
                </div>
                <div fxFlex layout="row">
                  <mat-form-field fxFlex="50">
                    <mat-label>Approved By</mat-label>

                    <input
                      matInput
                      placeholder="Approved By"
                      formControlName="approvedBy"
                    />
                  </mat-form-field>
                  <div class="ml-2" fxFlex fxLayout="column">
                    <mat-label class="mat-h5">Status</mat-label>
                    <mat-radio-group
                      formControlName="active"
                      fxLayoutGap=".5rem"
                    >
                      <mat-radio-button value="true">Active</mat-radio-button>

                      <mat-radio-button value="false"
                        >In-Active</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

            <div fxLayout="column" fxFlex="50">
              <div fxLayout="column" fxFlex>
                <div fxFlex layout="row">
                  <mat-form-field fxFlex>
                    <mat-label>Description*</mat-label>
                    <textarea
                      matInput
                      placeholder="Description."
                      formControlName="categoryDescription"
                    ></textarea>
                  </mat-form-field>
                </div>
                <div fxFlex layout="row">
                  <mat-form-field fxFlex>
                    <mat-label>Remarks*</mat-label>
                    <textarea
                      matInput
                      placeholder="Remarks."
                      formControlName="remarks"
                      class="remarks-style"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          fxFlex
          fxLayoutAlign="center center"
          class="button-row"
          fxLayoutGap="20px"
        >
          <button mat-raised-button color="accent">Submit</button>

          <button
            type="button"
            mat-raised-button
            color="warn"
            (click)="resetForm()"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="center none">
    <div fxFill fxLayout="column" fxFlex="90">
      <div fxFlex>
        <app-equipment-category-table
          (edit)="onEdit($event)"
        ></app-equipment-category-table>
      </div>
    </div>
  </div>
</div>
