<div class="registration-success-contents">
  <div class="tick">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 257 257">
      <g id="Ellipse_26" data-name="Ellipse 26" fill="#fff" stroke="#09b898" stroke-width="5">
        <circle cx="128.5" cy="128.5" r="128.5" stroke="none"/>
        <circle cx="128.5" cy="128.5" r="126" fill="none"/>
      </g>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="190" height="200" viewBox="-70 -80 200 200" id="image">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_162" data-name="Rectangle 162" width="900" height="100" transform="translate(889 252)" fill="green" stroke="#707070" stroke-width="1"/>
          </clipPath>
        </defs>
        <g id="Mask_Group_7" data-name="Mask Group 7" transform="translate(-889 -252)" clip-path="url(#clip-path)">
          <g id="Group_95" data-name="Group 95" transform="translate(-3.5 1)">
            <line id="Line_38" data-name="Line 38" x2="31" y2="31" transform="translate(896.5 316.5)" fill="none" stroke="#09b898" stroke-linecap="round" stroke-width="7"/>
            <line id="Line_39" data-name="Line 39" y1="89" x2="89" transform="translate(927.5 258.5)" fill="none" stroke="#09b898" stroke-linecap="round" stroke-width="7"/>
          </g>
        </g>
      </svg>
    </svg>


  </div>

  <div class="title">
    <h2>Success!</h2>
  </div>
<div class="content">
   Thank you for filling in all the details. We will get back to you shortly with confirmation.

   You can browse the Dashboard now!
  </div>
    <button (click)="goToDashboard()">Go to Dashboard<i class="material-icons">
      arrow_right_alt
     </i></button>
</div>
